<section class="products">
  <div class="container">
    <h1 class="sec-title text-center">
      our
      <br> products
    </h1>
    <div *ngIf="products?.length>0 ; else elseBlock">
      <div class="products-wrapper">
        <div class="row">
          <div class="col-md-3" *ngFor="let item of products">
            <div class="product">
              <a [routerLink]="['/product-details/'+item.$key]">
                <img src="./assets/img/{{item.photo}}" class="normal-img" alt="product headphone">
                <img src="./assets/img/{{item.zoomedPhoto}}" class="zoomed-img" alt="zoomed headphone">
              </a>
            </div>
            <div class="product-desc">
              <h5>{{item.name}}</h5>
              <p>${{item.price}}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <ng-template #elseBlock>
      <h2 class="text-warning">OOPS ! Empty Database</h2>
    </ng-template>
  </div>
</section>