<section class="products">
  <div class="container">
    <h1 class="sec-title text-center">
      our
      <br> products
    </h1>
    <!-- <div class="form-group">
      <select [(ngModel)]="itemPrice" (click)="search(itemPrice)">
        <option value="">Please select a price</option> 
        <option value="100">> 100</option>
        <option value="200">> 200</option>
        <option value="300">> 300</option>
        <option value="600">> 600</option>
      </select>
    </div> -->
    <div class="form-group">
      <label>Find The Suitable Price</label>
      <br>
      <input type="text" [(ngModel)]="itemPrice">
      <button (click)="search(itemPrice)" class="btn btn-filter">Filter</button>
    </div>
    <div *ngIf="products?.length>0 ; else elseBlock">
      <div class="products-wrapper">
        <div class="row">
          <div class="col-md-3" *ngFor="let item of products">
            <div class="product">
              <a [routerLink]="['/product-details/'+item.$key]">
                <img src="./assets/img/{{item.photo}}" class="normal-img" alt="product headphone">
                <img src="./assets/img/{{item.zoomedPhoto}}" class="zoomed-img" alt="zoomed headphone">
              </a>
            </div>
            <div class="product-desc">
              <h5 [hidden]="item.quantity > 1" class="text-danger">out of stock</h5>
              <h5>{{item.name}}
                <span class="fa fa-heart-o" [class.highlighted]="item.rate == 1" (click)="rating(item.$key)" *ngIf="isLoggedin"></span></h5>
              <p>${{item.price}} <span class="rate" *ngIf="isLoggedin">{{item.rate}}</span></p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <ng-template #elseBlock>
      <h2 class="text-info product-desc">This page has no products to show at the moment</h2>
    </ng-template>
  </div>
</section>
