<section class="products">
  <div class="container">
    <h1 class="sec-title text-center">
      our
      <br> products
    </h1>
    <div class="products-wrapper">
      <div class="row">
        <div class="col-md-3">
          <div class="product">
            <a routerLink="/productinfo"><img src="/assets/img/cyan-headphone.jpg" alt="black headphone"></a>
          </div>
          <div class="product-desc">
            <h5>I'm a Product</h5>
            <p>$19.99</p>
          </div>
        </div>
        <div class="col-md-3">
          <div class="product">
            <a routerLink="/productinfo"><img src="/assets/img/cyan-headphone.jpg" alt="black headphone"></a> 
          </div>
          <div class="product-desc">
            <h5>I'm a Product</h5>
            <p>$19.99</p>
          </div>
        </div>
        <div class="col-md-3">
          <div class="product">
            <a routerLink="/productinfo"><img src="/assets/img/cyan-headphone.jpg" alt="black headphone"></a>
          </div>
          <div class="product-desc">
            <h5>I'm a Product</h5>
            <p>$19.99</p>
          </div>
        </div>
        <div class="col-md-3">
          <div class="product">
            <a routerLink="/productinfo"><img src="/assets/img/cyan-headphone.jpg" alt="black headphone"></a>
          </div>
          <div class="product-desc">
            <h5>I'm a Product</h5>
            <p>$19.99</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
