<section class="cart-wrapper">
  <div class="container">

    <div *ngIf="cart?.length>0 ; else elseBlock">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th scope="col">Product Name</th>
            <th scope="col">Product Photo</th>
            <th scope="col">Product Price</th>
            <th scope="col">Product Quantity</th>
            <th scope="col">Total</th>
            <th scope="col">User Email</th>
            <th>manage</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of cart">
            <td>{{item.productName}}</td>
            <td>
              <img src="./assets/img/{{item.productPhoto}}" class="normal-img" alt="product headphone">
            </td>
            <td>{{item.productPrice}}</td>
            <td>{{item.productQuantity}}</td>
            <td>{{item.total}}</td>
            <td>{{item.userEmail}}</td>
            <td>
              <a class="btn btn-danger" (click)="deleteProduct()">
                <i class="fa fa-info-circle"></i> &nbsp;Remove</a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <ng-template #elseBlock>
      <h2 class="text-info">Your Cart is Empty</h2>
    </ng-template>
  </div>
</section>
