@import '../../../sass/variables';
@import '../../../sass/mixins';
.cart-wrapper {
  background-color: #fff;
  padding-bottom: 30px;
  padding-top: 140px;
}

h1.sec-title {
  @include secTitle;
  margin-top: 20px;
}

h1 {
  @include titleBorder;
}

table td:last-child {
  width: 140px
}

table td {
  text-transform: capitalize
}

.normal-img {
    width: 84px;
    height: 90px;
}

h2, th, td {
  @include paragraphTitle;
  text-transform: capitalize;
  color: #333;
  text-align: center;
}

td {

  line-height: 90px;
}

table {
  background: none;
}