/*
#3182B5 brand color
#83B1CE links color
#215779 btn bg
#102B3C btn bg hover
#83B1CE btn word color
#AED1E6 btn word hover
#3C4547 P color
#959596 p color
*/
$fa-font-path : '../../node_modules/font-awesome/fonts';

$darkBlue: #3182B5;
$lightBlue: #83B1CE;
$btnBG: #215779;
$btnBGHover: #102B3C;
$btnColor: #83B1CE;
$btnColorHover: #AED1E6;
$paragraphColor: #3C4547;