<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="rights-wrapper">
          <h5>&copy; 2018 by abdullah. all rights reserved</h5>
        </div>
      </div>
      <div class="col-md-6 col-md-push-3">
        <div class="social-wrapper">
          <a href="#"><i class="fa fa-facebook"></i></a>
          <a href="#"><i class="fa fa-twitter"></i></a>
          <a href="#"><i class="fa fa-linkedin"></i></a>
          <a href="#"><i class="fa fa-pinterest"></i></a>
        </div>
      </div>
    </div>
  </div>
</footer>
