<section class="product-details">
  <div class="container">

    <div class="top-nav-wrapper">
      <div class="row">
        <div class="col-md-6">
          <div class="product-pages-nav">
            <a [routerLink]="['/']">home</a>
            <span>/</span>
            <a [routerLink]="['/products']">products</a>
            <span>/</span>
            <span class="disabled">
              {{product.name}}</span>
          </div>

        </div>
        <div class="col-md-6">
          <span class="product-pages-nav"> &lt; pre | next &gt; </span>
        </div>
      </div>
    </div>

    <div class="product-info">
      <div class="row">
        <div class="col-md-6">
          <img src="./assets/img/{{product.photo}}" alt="blue headphone">
        </div>
        <div class="col-md-6">
          <div class="product-buy">
            <h3>{{product.name}}</h3>
            <span>key: {{product.$key}}</span>
            <p>country: {{product.country}}</p>
            <p>${{product.price}}</p>
            <span>quantity</span>
            <form novalidate>
              <input type="number" class="form-control" name="desiredQty" min="1" max="20" [(ngModel)]="order.desiredQty" #orderdesiredQty="ngModel"
                required>
              <button type="submit" class="btn btn-primary" data-toggle="modal" data-target="#myModal" (click)="addToCart()">Add To Cart</button>
            </form>
          </div>
        </div>
      </div>
    </div>

    <div class="modal fade" id="myModal" *ngIf="isLoggedin">
      <div class="modal-dialog">
        <div class="modal-content">

          <!-- Modal Header -->
          <div class="modal-header">
            <h4 class="modal-title">Cart</h4>
            <button type="button" class="close" data-dismiss="modal">
              <i class="fa fa-times"></i>
            </button>
          </div>

          <!-- Modal body -->
          <div class="modal-body">
            <div class="product-info">
              <div class="row">
                <div class="col-md-6">
                  <img src="./assets/img/{{product.photo}}" alt="blue headphone">
                  <div class="total">
                    <h5>subtotal</h5>
                    <p>${{order.desiredQty*product.price}}</p>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="product-buy">
                    <h3>{{product.name}}</h3>
                    <span>QTY: {{order.desiredQty}}</span>
                    <p>${{product.price}}</p>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- Modal footer -->
          <div class="modal-footer">
            <a class="btn btn-primary" (click)="goToCheckOut(userProduct)" [hidden]="orderQuantity">Add To Cart</a>
          </div>

        </div>
      </div>
    </div>

  </div>
</section>
