@import '../../../sass/variables';
@import '../../../sass/mixins';

header {
    margin-top: 90px;
}

header .intro-wrapper {
    margin-top: 29%;
}

.intro-wrapper h1 {
    @include headingFont;
    font-size: 109px;
    letter-spacing: 4px;
    color: #fff;
    text-transform: uppercase;
}

.intro-wrapper .btn {
    @include btnStyle;
    margin-top: 30px;
}

.intro-wrapper .btn:hover {
    @include btnHover;
}

header .intro-wrapper i {
    @include btnRightArrow;
}