<header>
  <div class="container">
    <div class="row">
      <div class="col col-md-6">
        <div class="header-imager">
          <img src="/assets/img/header.jpg" alt="black man  with headphones">
        </div>
      </div>

      <div class="col col-md-6">
        <div class="intro-wrapper left">
          <h1>hearing is believing</h1>
          <a class="btn" routerLink="/products">buy it now <i class="fa fa-chevron-right"></i></a>
        </div>
      </div>

    </div>
  </div>
</header>
