header {
    margin-top: 90px;
}

header .container {
    width: 76%;
}

header .intro-wrapper {
    margin-top: 29%;
    text-transform: uppercase;
}
header .intro-wrapper i {
    margin-left: 8px;
    font-size: 14px;
}