<section class="list-products">
  <div class="container">

    <app-sidebar></app-sidebar>

    <div id="main">
      <h1 class="sec-title text-center">
        all products
      </h1>

      <div *ngIf="products?.length>0 ; else elseBlock">
        <button href="#" (click)="deleteAllProducts()" class="btn btn-danger">
          <i class="fa fa-info-circle"></i> Delete All
        </button>
        <table class="table table-bordered table-dark">
          <thead>
            <tr>
              <th scope="col">Product Name</th>
              <th scope="col">Product Country</th>
              <th scope="col">Product Price</th>
              <th scope="col">Product Quantity</th>
              <th scope="col">Product Photo</th>
              <th scope="col">Product Zoomed Photo</th>
              <th>manage</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of products">
              <td>{{item.name}}</td>
              <td>{{item.country}}</td>
              <td>{{item.price}}</td>
              <td>{{item.quantity}}</td>
              <td>
                <img src="./assets/img/{{item.photo}}" class="normal-img" alt="product headphone">
              </td>
              <td>
                <img src="./assets/img/{{item.zoomedPhoto}}" class="normal-img" alt="zoomed headphone">
              </td>
              <td>
                <a class="btn btn-primary" [routerLink]="['/product/'+item.$key]">
                  <i class="fa fa-info-circle"></i> More Info</a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <ng-template #elseBlock>
        <h2 class="text-warning">Weak Connection</h2>
      </ng-template>

    </div>
  </div>
</section>
