<section class="product-info">
  <div class="container">

    <app-sidebar></app-sidebar>

    <div id="main">
      <h1 class="sec-title text-center">
        {{product.$key}} product
      </h1>

      <table class="table table-dark">
        <thead>
          <tr>
            <th scope="col">Product Name</th>
            <th scope="col">Product Country</th>
            <th scope="col">Product Price</th>
            <th scope="col">Product Quantity</th>
            <th scope="col">Product Photo</th>
            <th scope="col">Product Zoomed Photo</th>
            <th scope="col">$Key</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>{{product.name}}</td>
            <td>{{product.country}}</td>
            <td>{{product.price}}</td>
            <td>{{product.quantity}}</td>
            <td><img src="./assets/img/{{product.photo}}" class="normal-img" alt="product headphone"></td>
            <td><img src="./assets/img/{{product.zoomedPhoto}}" class="normal-img" alt="zoomed headphone"></td>
            <td>{{product.$key}}</td>
          </tr>
        </tbody>
      </table>

      <div class="row">
        <div class="col-sm-1">
          <a [routerLink]="['/edit-product/'+id]" class="btn btn-info">
            <i class="fa fa-info-circle"></i> Edit
          </a>
        </div>
        <div class="col-sm-1">
          <button href="#" (click)="deleteProduct()" class="btn btn-danger">
            <i class="fa fa-info-circle"></i> Delete
          </button>
        </div>
      </div>

    </div>
  </div>
</section>
