@import '../../../sass/variables';
@import '../../../sass/mixins';
.slide {
  background-color: #fff;
  height: 537px;
}

.desc-wrapper {
  margin-top: 42%
}

.desc-wrapper h3 {
  @include paragraphTitle;
}

.desc-wrapper p {
  @include paragraphBody;
  margin-top: 43px
}

.desc-wrapper .btn {
  @include btnStyle;
  @include contentFont;
  ;
  margin-top: 30px;
}

.desc-wrapper .btn:hover {
  @include btnHover;
}

.desc-wrapper i {
  @include btnRightArrow;
}

.img-slider img {
  height: 474px;
  display: block;
  margin: 27px auto;
}

.slider {
  max-width: 300px;
  height: 200px;
  margin: 20px auto;
  position: relative;
}

.slide1,
.slide2,
.slide3 {
  position: absolute;
  width: 100%;
  height: 100%;
}

.slide1 {
  animation: fade 8s infinite;
  -webkit-animation: fade 8s infinite;
}

.slide2 {
  animation: fade2 8s infinite;
  -webkit-animation: fade2 8s infinite;
}

.slide3 {
  animation: fade3 8s infinite;
  -webkit-animation: fade3 8s infinite;
}

@keyframes fade {
  0% {
    opacity: 1
  }
  33.333% {
    opacity: 0
  }
  66.666% {
    opacity: 0
  }
  100% {
    opacity: 1
  }
}

@keyframes fade2 {
  0% {
    opacity: 0
  }
  33.333% {
    opacity: 1
  }
  66.666% {
    opacity: 0
  }
  100% {
    opacity: 0
  }
}

@keyframes fade3 {
  0% {
    opacity: 0
  }
  33.333% {
    opacity: 0
  }
  66.666% {
    opacity: 1
  }
  100% {
    opacity: 0
  }
}
