<div class="login">
  <div class="container">
    <h1 class="sec-title text-center">
      signin
    </h1>

    <form (submit)="signIn()">
      <div class="form-group">
        <label for="email">Email:</label>
        <input type="email" class="form-control" name="email" id="email" required [(ngModel)]="email">
      </div>

      <div class="form-group">
        <label for="password">Password:</label>
        <input type="password" class="form-control" name="password" id="password" required [(ngModel)]="password">
      </div>

      <button type="submit" class="btn btn-info btn-block" id="formBtn" value="Login">Signin</button>
    </form>
  </div>
</div>
