<section class="features">
  <div class="container">
    <h1 class="sec-title text-center">
      product
      <br>features
    </h1>
    <div class="video-wrapper">
      <iframe src="https://player.vimeo.com/video/78280018" width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen
        allowfullscreen></iframe>
    </div>
    <div class="features-wrapper">
      <div class="row">
        <div class="col-md-4">
          <div class="feature">
            <div class="feature-img">
              <img src="/assets/img/01.png" alt="01 image">
            </div>
            <h4>finest materials</h4>
            <p>I’m an item. ​Click here to edit me.</p>
          </div>
        </div>
        <div class="col-md-4">
          <div class="feature">
            <div class="feature-img">
              <img src="/assets/img/02.png" alt="02 image">
            </div>
            <h4>soft ear cushions</h4>
            <p>I’m an item. ​Click here to edit me.</p>
          </div>
        </div>
        <div class="col-md-4">
          <div class="feature">
            <div class="feature-img">
              <img src="/assets/img/03.png" alt="03 image">
            </div>
            <h4>removable cord</h4>
            <p>I’m an item. ​Click here to edit me.</p>
          </div>
        </div>
        <div class="col-md-4">
          <div class="feature">
            <div class="feature-img">
              <img src="/assets/img/04.png" alt="04 image">
            </div>
            <h4>rigid construction</h4>
            <p>I’m an item. ​Click here to edit me.</p>
          </div>
        </div>
        <div class="col-md-4">
          <div class="feature">
            <div class="feature-img">
              <img src="/assets/img/05.png" alt="05 image">
            </div>
            <h4>supreme audio quality</h4>
            <p>I’m an item. ​Click here to edit me.</p>
          </div>
        </div>
        <div class="col-md-4">
          <div class="feature">
            <div class="feature-img">
              <img src="/assets/img/06.png" alt="06 image">
            </div>
            <h4>easly foldable</h4>
            <p>I’m an item. ​Click here to edit me.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
