@import '../../../../sass/variables';
@import '../../../../sass/mixins';

.sidenav {
    width: 105px;
    height: 100%;
    position: fixed;
    z-index: 0;
    top: 89px;
    left: 0;
    background-color: #000;
    overflow-x: hidden;
    padding-top: 40px;
  }
  
  
  /* The navigation menu links */
  
  .sidenav a {
    text-decoration: none;
    display: block;
    margin-bottom: 62px;
    margin-left: -8px;
    text-align: center
  }

  .sidenav i {
    font-size: 44px
  }

  .sidenav img {
    width: 40px
  }
  
  .sidenav p {
    @include contentFont;
    margin-top: 17px;
    text-transform: uppercase;
    color: $darkBlue

  }
  
  /* When you mouse over the navigation links, change their color */
  
  .sidenav a:hover {
    color: crimson;
  }

  .active {
    background-color: $paragraphColor
  }
  
  
  