<div class="sidenav">
  <a routerLink="/admin-panel/dashboard">
    <!-- <i class="fa fa-home"></i> -->
    <img src="./assets/img/icon-nav-home.png" alt="dashboard">
    <p>dashboard</p>
  </a>
  <a routerLink="/admin-panel/addproduct">
    <img src="./assets/img/icon-nav-add.png" alt="add products">
    <p>add product</p>
  </a>
  <a routerLink="/admin-panel/edit-product">
    <img src="./assets/img/icon-nav-edit.png" alt="edit products">
    <p>edit product</p>
  </a>
  <a routerLink="/admin-panel/list-products">
    <img src="./assets/img/icon-nav-list.png" alt="list products">
    <p>list products</p>
  </a>
</div>
