@import '../../../../sass/variables';
@import '../../../../sass/mixins';

.edit-product {
  background-color: #fff;
  padding-bottom: 30px
}

h1.sec-title {
  @include secTitle;
  margin-top: 20px;
}

h1 {
  @include titleBorder;
}

 .btn-back {
  @include btnStyle;
  @include contentFont;
  margin-top: 30px;
}

 .btn-shop:hover {
  @include btnHover;
}

 i {
  @include btnRightArrow;
}

.form-group {
  margin-bottom: 0;
}

.form-group label {
  @include formLabel;
  margin-bottom: 0;
}

.form-group input {
  height: 34px
}

#formBtn {
  @include formSubmitBtn;
  margin-top: 7px;
}
